<% include ./partials/header%>


<div class="w-50 mx-auto">
<h1 class="text-center">Login Page</h1>
<form class="mt-4" method="POST" action="/login">
        <div class="form-group">
            <label>USERNAME</label>    
            <input class="form-control" type="text" placeholder="Enter Username" name="username">  
        </div>
        <div class="form-group">
            <label>PASSWORD</label>    
            <input class="form-control" type="password" placeholder="Enter Password" name="password">
        </div>   
       
        <button class="btn btn-primary">submit</button>
</form>
</div>
<% include ./partials/footer%>