<!DOCTYPE html>
<html>
    <head>
        <style>
            *{
                margin:0px;
                border:0px;
                padding:0px;
            }
            body{
                background:brown;
                background-image: url("Images/back2.jpg");
                background-repeat: no-repeat;
                background-size:cover;
            }
            #game{
                
            }
        
            .cardsContainer
    {
        position: relative;
        top: 50px;
        margin-left: auto;
        margin-right: auto;
        height: 166px;
        width: fit-content;
        
    }
    .cards
    {
        display:inline-block;
        width:100px;
        height:160px;
        border-radius: 6px;
        margin:1px;
        padding:0px;
    }
    .cardsimg{
        width: inherit;
    height: inherit;
    border-radius: 6px;
    }
    #pla0{
        position: absolute;
    top: 150px;
    left: 150px;
    }
    #pla1{
        position: absolute;
    top: 50px;
    left: 70px;
    }
    #pla2{
        position: absolute;
    left: 140px;
    }
    #pla3{
        position: absolute;
    top: 100px;
    left: 230px;
      
    }
    #outer{
        position: relative;
        top: 180px;
    }
    #name0{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
    background: antiquewhite;
    width:50%;
}
#name1{
    display: inline-block;
    position: absolute;
    top: 200px;
    margin-left:20px;
    background: antiquewhite;
}
#name2{
    display: inline-block;
    position: absolute;
    margin-right:20px;
    right:0px;
    top: 200px;
    background: antiquewhite;
}
#name3{
    top: 270px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: antiquewhite;
    width:50%;
}
.user{
    border: 3px solid black;
}
#east
{
    display: inline-block;
    top: 170px;
}
#west
{
    display: inline-block;
    top: 170px;
}
#insidet{
    z-index: 0;
    height: 310px;
    width: 400px;
    position: absolute;
    left: 35%;
    background-image:url("Images/table.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    border: 5px double;
}

    
        </style>

            <script src="/socket.io/socket.io.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
            <script src="/jsfiles/clgame.js"> </script>
    </head>
    <body>
        <div id="game">
        <center id="name0"><h1 class="user" id='north'>North : <span ></span></h1></center>
        <div id="name1"><h1 class="user" id='west'>West : <span ></span></h1></div>
        <div id="name2"><h1 class="user" id='east'>East : <span ></span></h1></div>
        
            <div id='table' class="cardsContainer">
                <div id="insidet">
                <div id='pla0' class="cards"> </div>
                <div id='pla1' class="cards"> </div>
                <div id='pla2' class="cards"> </div>
                <div id='pla3' class="cards"> </div>    
            </div>            
            </div>
            <div id="outer">
                    <div class="cardsContainer" id="pl0"></div>
            </div>
            
            <center id="name3"><h1 class="user" id='you' style="top:250px;">you : <span id='username'></span></h1></center>
            </div>
    </body>
        

</html>